.ant-drawer-body{
    padding: 0px;
}

.ant-menu-inline .ant-menu-item{
    margin-top: 0px;
}

.ant-menu-inline .ant-menu-item:not(:last-child){
    margin-bottom: 0px;
}

.anticon-shopping{
    cursor: pointer;
}

.anticon-menu{
    cursor: pointer;
}

.div-spinner{
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.ant-btn{
    border-radius: 8px;
}

.ant-modal-body{
    padding: 14px 24px;
}
