.ant-drawer-body{
    padding: 0px;
}

.ant-menu-inline .ant-menu-item{
    margin-top: 0px;
}

.ant-menu-inline .ant-menu-item:not(:last-child){
    margin-bottom: 0px;
}

.anticon-shopping{
    cursor: pointer;
}

.anticon-menu{
    cursor: pointer;
}

.div-spinner{
    margin: 20px 0;
    margin-bottom: 20px;
    padding: 30px 50px;
    text-align: center;
    border-radius: 4px;
}

.ant-btn{
    border-radius: 8px;
}

.ant-modal-body{
    padding: 14px 24px;
}

.ant-drawer-title{
    color: #008000;
    font-size: 20px;
    margin-top: 3px;
}

.ant-drawer-close svg{
    color: #008000;
}

.ant-carousel{
    max-width: 300px;
    margin-left: calc(50% - 150px)
}

.ant-carousel .slick-dots li button{
    background-color: #008000 !important;
}

.ant-carousel .slick-dots-bottom{
    bottom: -20px;
}

.ant-carousel ul{
    margin-bottom: 0px;
}

.ant-badge-count {
    box-shadow: none;
}
