.pageContent{
    padding: 20px;
}

.pageTitle{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
}

.primaryColor{
    color: #52c41a;
}

.primaryColorUnderline{
    text-decoration: underline #52c41a;
}
