.navbarTop{
    background-color: #52c41a;
    width: 100;
    max-width: 100%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px 20px;
}

.navbarLogo{
    width: 100px;
    margin: 0px auto;
}

.navbarLogoDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarIconDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.navbarProfile{
    height: 80px;
    background-color: green;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 20px;
    color: white;
}

.navbarProfileSalutation{
    font-size: 17px;
    margin: 0px;
    line-height: 18px
}

.navbarProfileLogin{
    margin-top: 2px;
    font-size: 15px;
}
